name: Upload via SFTP

on:
  push:
    branches:
      - fip

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm i

      - name: Build project
        run: npm run build

      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: Ensure remote directory exists
        run: |
          sshpass -p "${{ secrets.SFTP_PASSWORD }}" ssh \
            -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
            -p ${{ secrets.SFTP_PORT }} \
            ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_SERVER }} \
            "rm -rf /home/fip/htdocs/hifz-competition.org/fip/generator && mkdir -p /home/fip/htdocs/hifz-competition.org/fip/generator"

      - name: Upload via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.SFTP_SERVER }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: ${{ secrets.SFTP_PORT }}
          local_path: './build/*'
          remote_path: 'fip/generator/'
          sftp_only: true
